.card {
  position: relative;
  transition:
    border-color 150ms ease,
    transform 150ms ease;
  border: 1px solid transparent;

  @mixin hover {
    transform: scale(1.01);
    z-index: 1;
    border-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-5)
    );
  }

  @mixin dark {
    background: #000;
  }

  @mixin light {
    background: var(--mantine-color-neutral-contrast);
  }
}
